<%- include admin_header %>
<div class="mainBlock">
    <h5>商品信息管理</h5>
    <a type="button" class="btn btn-primary" href="add_product">添加商品</a>
    <table class="table">
        <tr>
            <td>序号</td>
            <td>商品名称</td>
            <td>商品数量</td>
            <td>单价（元）</td>
            <td>单位</td>
            <td>发布时间</td>
            <td>操作</td>
        </tr>
    </table>
</div>
<%- include admin_footer%>