<%- include admin_header.ejs%>
<a type="button" class="btn btn-default" href="discount_rules">打折规则</a>
<div class="mainBlock text-center">
    <form class="form-horizontal" role="form" method="post" name = 'add_discount'>
        <table class="table">
            <tr>
                <td>
                    商品
                </td>
                <td>
                    价格
                </td>
                <td>
                    时间
                </td>
                <td>
                    打折方式
                </td>
                <td>
                    操作
                </td>
            </tr>
            <tr>
               
            </tr>
        </table>
    </form>


</div>




<%- include admin_footer.ejs%>