<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" />
<title>WebPos</title>
<link rel="stylesheet" href="/stylesheets/style.css">
<link rel="stylesheet" href="/stylesheets/bootstrap/css/bootstrap.css">


</head>
<body>

<div  class="container">
    <div class="navbar navbar-inverse">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Let's Go</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#">Home</a></li>
                    <li ng-click='product()'><a href="">商品列表</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li ng-click="shopping_cart()"><a ><span class="glyphicon glyphicon-shopping-cart" ></span>购物车</a></li>
                </ul>
            </div><!--/.nav-collapse -->
        </div>
    </div>
    <div class="jumbotron">
        <h1>Welcome to  Let's Go!</h1>
        <p class="lead">
            商店里进行购物结算时会使用收银机(pos)系统,这台收音机会在结算时根据客户的购物车(Cart)中的商品(Item)和商店和正在进行的优惠活动(Promotion)进行结算和打印购物清单.已知该商店正对部分商品进行"买二赠一"的优惠活动.我们需要实现一个名为printInvertory函数,该函数能够将指定格式的数据最为参数输入,然后在浏览器的控制台中输出结算清单的文本.
        </p>
        <p style='float: left'>
            <button type="button" class="btn btn-primary" ng-click='product()'>Let's Go!</button>
        </p>
    </div>
</div>

<article>