<%- include header %>
    <div>
        <h1 style="text-align: center">商品列表</h1>
        <table class="table table-bordered">
            <tr>
                <td>分类</td>
                <td>名称</td>
                <td>单价（元）</td>
                <td>单位</td>
                <td></td>
            </tr>
            <!--<tr ng-repeat="product in products">-->
                <!--<td>{{product.sort}}</td>-->
                <!--<td>{{product.name}}</td>-->
                <!--<td>{{product.price}}</td>-->
                <!--<td>{{product.unit}}</td>-->
                <!--<td><button type="button" class="btn btn-info" ng-click="add_to_shopping_cart(product.name)">加入购物车</button></td>-->
            <!--</tr>-->
        </table>
    </div>
</div>
<%- include footer%>