<%- include header.ejs%>
<div id="shopping_car">
    <table class="table table-bordered">
        <tr>
            <td>分类</td>
            <td>名称</td>
            <td>单价（元）</td>
            <td>单位</td>
            <td>数量</td>
            <td>小计</td>
        </tr>
        <!--<tr ng-repeat="list in lists">-->
            <!--<td>{{list.sort}}</td>-->
            <!--<td>{{list.name}}</td>-->
            <!--<td>{{list.price}}</td>-->
            <!--<td>{{list.unit}}</td>-->
            <!--<td><div class="btn-group">-->
                    <!--<button type="button" class="btn btn-default" ng-click='lower_num(list.name)'>-</button>-->
                    <!--<button type="button" class="btn btn-default" ng-disabled='true'>{{list.num}}</button>-->
                    <!--<button type="button" class="btn btn-default" ng-click='add_num(list.name)'>+</button></td>-->

            <!--<td><span ng-show='{{list.num >=3 &&check_cut(list.barcode)}} ' class="ng-hide">{{(list.num-filters(list.num/3))*(list.price)}}(原价：{{(list.num)*(list.price)}})</span><span  ng-show='{{list.num <3||!check_cut(list.barcode)}}' class="ng-hide">{{(list.num)*(list.price)}}</span></td>-->
        <!--</tr>-->
    </table>
    <div style="text-align: right">总计：{{count}} 元</div>
    <div style="text-align: right">
        <button type="button" class="btn btn-info" ng-click='pay()'>付款</button>
    </div>
</div>
</div>
<%- include footer.ejs%>